<div class="background-utilities">
  <app-navbar></app-navbar>

  <div class="left-background">
    <div class="container3 overflow-y-auto " >
      <div class="content">
        <div class="list-content" >

          <div class="recibo">
            <div class=" recibo-title full-w height-50 d-flex p-20 ">
              <img matPrefix src="/assets/icon/reciboLuz.png"  class="m-l-40">
              <span class="pl-30 full-w  m-t-15"> RECIBO DE LA LUZ </span>
            </div>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Número de cuenta contrato : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> 10203004456 </span>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Valor a pagar : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> $151.384 </span>
          </div>

          <div class="valor">
            <span class="pl-30 full-w  m-t-15 spanTitle"> PAGO </span>
            <img matPrefix src="/assets/icon/botonPse.png" (click)="pagar()" style="height:120px" class="pseButton" >
          </div>

          <div class="recibo2">
            <div class=" recibo-title full-w height-50 d-flex p-20 ">
              <img matPrefix src="/assets/icon/reciboAgua.png"  class="m-l-40">
              <span class="pl-30 full-w  m-t-15"> RECIBO DE AGUA </span>
            </div>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Número de cuenta contrato : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> 10284456 </span>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Valor a pagar : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> $191.384 </span>
          </div>

          <div class="valor2">
            <span class="pl-30 full-w  m-t-15 spanTitle"> PAGO </span>
            <img matPrefix src="/assets/icon/botonPse.png" (click)="pagar()" style="height:120px" class="pseButton" >
          </div>

          <div class="recibo3">
            <div class=" recibo-title full-w height-50 d-flex p-20 ">
              <img matPrefix src="/assets/icon/reciboGas.png"  class="m-l-40">
              <span class="pl-30 full-w  m-t-15"> RECIBO DE GAS </span>
            </div>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Número de cuenta contrato : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> 1028886 </span>
            <span class="pl-30 full-w spanTitle m-l-40">  ● Valor a pagar : </span>
            <span class="pl-30 full-w spanSubTitle m-l-40"> $11.384 </span>
          </div>
          <div class="valor3">
            <span class="pl-30 full-w  m-t-15 spanTitle"> PAGO </span>
            <img matPrefix src="/assets/icon/botonPse.png" (click)="pagar()" style="height:120px" class="pseButton" >
          </div>

        </div>
      </div>

  </div>
</div>
